node_modules/
.nx/
.git/
dist/
coverage/
reports/
*.log

frontend/
infra/

services/*/node_modules/
services/*/dist/
services/*/.gradle/
services/*/build/

libs/*/node_modules/
libs/*/dist/
libs/*/.gradle/
libs/*/build/
libs/api-clients/java/*/build/
libs/events/java/*/build/

**/__pycache__/
**/.pytest_cache/
**/.venv/
