go 1.24

use (
	./libs/api-clients/go/streaming-api-client
	./libs/api-clients/go/upload-api-client
	./libs/events/go/music-events
	./libs/go-common
	./services/streaming-service
	./services/upload-service
)
